body{
    padding: 80%;
    background-color: #04102b;
    margin: 0;
    padding: 0;
    background-size: cover;
}
.content{
  position: absolute;
  top: 300px;
  right: 300px;
}
#picture {
    position: absolute;
    left: 80px ;
    top: 150px;
    z-index: 1;
 }
#picture1 {
        position: absolute;
        left: 150px ;
        top: 200px;
        z-index: 2;
} 
#picture2 {
            position: absolute;
            left: 200px ;
            top: 300px;
            z-index: 3;
}
fieldset{
  background-color: rgb(35, 35, 122);
  width: 100%;
  height: 100%;
  border:none ;
}
fieldset input{
 padding: 5px 10px;
}
p{
  color: aliceblue;
}